// Colors
$color1:      #FFD823;
$color2:      #F96EF5;
$white:       #FFFFFF;
$lightgrey:   #D8D8D8;
$grey:        #9B9B9B;
$black:       #2F2F2F;
$negative1:   #B43D35;
$negative2:   #B32C39;

// Fonts
$mainFont: 'Poppins', sans-serif;
