<h1>Editing Ticket Type Conference</h1>

<%= render 'form', ticket_type_conference: @ticket_type_conference %>

<%= link_to 'Show', @ticket_type_conference %> |
<%= link_to 'Back', ticket_type_conferences_path %>
