<header class="header_event2 relative">
  <%= image_tag("esm.png", :alt => "", class:"profilePicture_event absolute") %>
</header>
<div class="event_container fRow">
  <div class="event_description">
    <h1 class="title">Festival En Sus Marcas 2017</h1>
    <div class="f_tCenter">
      <%= link_to "Preregistro", preregister2_tickets_path, class: "button_main_esm" %>
    </div>
    <br>
    <p>
      En Sus Marcas, es el primer festival de branding del Tecnológico de Monterrey, nace de la idea de
      que somos los locos, quienes podemos cambiar el mundo. Los locos que creemos, los locos de ideamos
       y soñamos. No importa si tienes iPhone o Samsung. Si tu pasión grita Hala Madrid o Més que un
       Club. Sabes que tienes el mundo a tus pies y decides recorrerlo paso a paso con tus tenis Nike.
    </p>
    <br>
    <p>
      Si eres de esos locos como nosotros que sabemos que la publicidad puede cambiar al mundo, este
      festival es el ideal para ti. Nos vemos en Octubre para descubrir todo lo que se encuentra detrás
      de tu marca favorita.
    </p>
    <br>
    <p>
      “En sus MARCAS” es el evento estudiantil dedicado exclusivamente al branding, que pretende a
      través de una experiencia con grandes marcas, concientizar sobre el impacto de la publicidad en
      nuestra vida cotidiana.
    </p>
    <br>
    <p>10 experiencias con marcas:</p>
    <ul>
      <li>
        <p><strong>Branding Personal</strong></p>
        <ul>
          <li>INCmty</li>
          <li>Runway Town</li>
          <li>Aarón Cantú</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding Infantil</strong></p>
        <ul>
          <li>Kidzania</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding de Experiencia</strong></p>
        <ul>
          <li>David Castejón</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding de Redes Sociales</strong></p>
        <ul>
          <li>Roberto Lee</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding Editorial</strong></p>
        <ul>
          <li>Fernando Herrera</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding de Agencia</strong></p>
        <ul>
          <li>André Delgado</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding Deportivo</strong></p>
        <ul>
          <li>Under Armuor</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Branding de Agencia</strong></p>
        <ul>
          <li>Hector Fernández</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>Stand Up</strong></p>
        <ul>
          <li>Chumel Torres</li>
        </ul>
      </li>
    </ul>
    <br>
    <ul>
      <li>
        <p><strong>1 Networking Night</strong></p>
        <p><strong>6 Talleres, más por confirmar</strong></p>
        <p><strong>1 Festibal de branding</strong></p>
        <ul>
          <li>+30 activaciones</li>
          <li>Pabellón hecho en México</li>
          <li>Pabellón Arte Publicitario</li>
          <li>Pabellón Agencias de Publicidad</li>
          <li>Pabellón Gastronómico</li>
          <li>Actividades de Marca</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="event_details">
    <h2 class="subtitle">Fecha</h2>
    <p class="textCenter">4, 5 y 6 de octubre del 2017</p>
    <br>
    <h2 class="subtitle">Ubicación</h2>
    <p class="textCenter">Auditorio Luis Elizondo, Tecnológico de Monterrey</p>
  </div>
</div>
<%= render 'layouts/navbar' %>
