<header class="header_event relative">
  <%= image_tag("mkt.png", :alt => "", class:"profilePicture_event absolute") %>
</header>
<div class="event_container fRow">
  <div class="event_description">
    <h1 class="title">Marketing Fest 2017</h1>
    <div class="f_tCenter">
      <a href="#" class="button_main">Preregistro</a>
    </div>
    <br>
    <p>
      Marketing Fest es el festival de mercadotecnia más grande de México que se lleva a cabo en el
      Tecnológico de Monterrey, Campus Monterrey. Las más grandes marcas de Fashion, Entertainment,
      Sports y Trends se reúnen para compartir a jóvenes estudiantes y emprendedores su experiencia e
      historia… ¿Estás listo?
    </p>
    <br>
    <p>Te recordamos que tu boleto incluye:</p>
    <ul>
      <li>8 conferencias (acceso con la compra de tu boleto)</li>
      <li>1 taller el 19 de octubre (cupo limitado)</li>
      <li>1 taller el 20 de octubre (cupo limitado)</li>
    </ul>
    <br>
    <p>
      Para mayor información del evento ingresa a <a href="http://www.marketingfest.mx" class="hyperlink">Marketing Fest</a>
    </p>
  </div>
  <div class="event_details">
    <h2 class="subtitle">Fecha</h2>
    <p class="textCenter">19 al 21 de octubre del 2017, 2:30 pm</p>
    <br>
    <h2 class="subtitle">Ubicación</h2>
    <p class="textCenter">Tecnológico de Monterrey, campus Monterrey</p>
  </div>
</div>
<%= render 'layouts/navbar' %>
