<header class="header_event relative">
  <%= image_tag("mkt.png", :alt => "", class:"profilePicture_event absolute") %>
</header>
<div class="event_container fRow">
  <div class="event_description">
    <h1 class="title">Marketing Fest 2017</h1>
    <h2 class="subtitle">Descripción</h2>
    <p><%= @event.event_description %></p>
  </div>
  <div class="event_details">

  </div>
</div>
<%= render 'layouts/navbar' %>
