<main class="f_tCenter">
  <div class="container">
    <h1 class="title">¡Ya terminaste!</h1>
    <p>
      ¡Felicidades, $ticket_name! Ya terminaste el proceso de preregistro. Con este código de barras
      podrás registrarte el día del evento.
    </p>
    <div class="barcode_container f_tCenter">
      <div class="barcode_black"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_white"></div>
      <div class="barcode_black"></div>
      <div class="barcode_white"></div>
    </div>
    <h2 class="subtitle">53635 87393</h2>
    <p>
      Si tienes cualquier sugerencia sobre el sistema, puedes mandarla por correo y con gusto lo
      atenderemos.
    </p>
    <footer class="mail_footer">
      <div class="f_tCenter mail_logoContainer">
        <%= image_tag("Logo.svg", :alt => "", class:"nav_logo") %>
      </div>
    </footer>
  </div>
</main>
