<%= render 'layouts/navbar' %>
<main class="f_tCenter">
  <div class="container">
    <h1 class="title">¡Gracias <%= @ticket.ticket_name.split(' ')[0] %>!</h1>
    <h2 class="subtitle">¡Ya eres parte de Marketing Fest!</h2>
    <p>
      En los próximos días recibirás un boleto electrónico a tu correo: <%= @ticket.ticket_email %>.
      En caso de cualquier duda, contacta a los organizadores del evento.
    </p>
    <div class="f_tCenter">
      <a href="/tickets/preregister" class="button_main">Regresar al preregistro</a>
    </div>
  </div>
</main>
