<%= render 'layouts/navbar' %>
<main class="f_tCenter main2">
  <div class="container">
    <h2 class="subtitle">¡Ya eres parte de <%= @ticket.event.event_name %>!</h2>
    <p>
      En los próximos días recibirás un boleto electrónico a tu correo: <%= @ticket.ticket_email %>.
      En caso de cualquier duda, contacta a los organizadores del evento.
    </p>
    <div class="f_tCenter">
      <%= link_to "Regresar a inicio", root_path, class: "button_main2" %>
    </div>
  </div>
</main>
