<main class="f_tCenter">
  <div class="container">
    <h1 class="title">¡Muchas gracias <%= @ticket.ticket_name %>!</h1>
    <h2 class="subtitle">Ya terminaste con el preregistro. Te esperamos el día del evento.</h2>
    <p>
      Tu boleto electrónico ya está en camino a tu correo. Checa la bandeja de entrada de la dirección
      <span><%= @ticket.ticket_email %>. Acuérdate de revisar tu bandeja de spam. ;)
    </p>
    <div class="f_tCenter">
      <a href="/tickets/preregister" class="button_main">Regresar al preregistro</a>
    </div>
  </div>
</main>
