@import "../helpers/helpers.scss";

main{
  width: 100vw;
  height: 100vh;
  @include gradient($grey, $black);
}

.main2{
  @include gradient($color1, $color2);
}

.container{
  padding-top: 113px;
  @include card;
  max-height: 80vh;
}

.container2{
  padding-top: 113px;
  @include card2;
  max-height: 80vh;
  width: 80vw;
}

.flag{
  margin-top: 2.5rem;
  max-height: 10rem;
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}

.flag.negative{
  @include card;
  @include gradient($negative1, $negative2);
  //max-height: 40px;
}

.cell_large{
  width: 60vw;
}

.cell_count{
  width: 3rem;
  background-color: #F0F0F0;
  padding-left: 1rem;
}

.row:hover{
  background-color: $grey;
}
