@import "../helpers/helpers.scss";

main{
  width: 100vw;
  height: 100vh;
  @include gradient($grey, $black);
}

.container{
  @include card;
}

.flag{
  margin-top: 2.5rem;
  max-height: 10rem;
  border-radius: 10px;
  padding: 20px;
}

.flag.negative{
  @include card;
  @include gradient($negative1, $negative2);
}
