@import "../extras/extras.scss";
@import "../helpers/helpers.scss";

*{
    font-family: $mainFont;
    color: $black;
}

h1.title{
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

h2.subtitle{
  text-align: center;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

h3.event_title{
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

h2.form_subtitle{
  margin-top: 2rem;
}

p.caption{
  font-size: 0.7rem;
}

.hyperlink{
  border-bottom: 2px solid $grey;
}

span.required{
  color: $negative2;
}

.negative{
  color: $white;
}

.description{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}


.checkbox{
  margin-left: 5px;
  font-size: 13px;
}

.incluye ul{
  padding-left: 19px;
}
